// Custom styles.
// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
//   padding: 50px;
   padding-top:25px;
   padding-bottom:25px;
   padding-left:25px;
   padding-right:25px;
   background-color: #fff;
   -webkit-box-shadow: 0 0 8px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 8px rgba(202, 203, 204, .5);
  }
